---
import { imageMetadata } from 'astro/dist/assets';
import SideBar from '../components/SideBar.astro';

export interface Props {
    title: string;
    description: string;
    image?: string;

	background?: string;
}

const { title, image, description, background } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head >
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        {image != null && <meta property="og:image" content={image} /> }
		<link rel="icon" type="image/x-png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="min-h-screen grid grid-flow-col-dense grid-cols-8">
		<SideBar />
		<main style={background && `background: ${background};`} class="min-h-full col-span-8">
			<h1>{title}</h1>
			<slot />
		</main>
	</body>
</html>